@import "../../assets/main.scss";

.pal-input {
  .pal-input-field-container {
    border: 1px solid #d9d9d9;
    border-radius: $pal-border-radius;
    padding: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    &:focus-within {
      border-color: $pal-primary;
      outline: 0;
      -webkit-box-shadow: 0 0 0 2px $pal-primary-light;
      box-shadow: 0 0 0 2px $pal-primary-light;
    }
    &:hover {
      border-color: $pal-primary;
    }
  }
  .disabled {
    background-color: #fafafa;
    opacity: 0.6;
    cursor: not-allowed;
    &:hover {
      border-color: #d9d9d9;
    }
  }

  .isInvalid {
    border-color: #e67575;
    &:focus-within {
      border-color: #e67575;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &:hover {
      border-color: #e67575;
    }
  }

  .pal-input-field {
    border: none;
    width: 97%;
    color: #425a70;
    height: 93%;
    &:hover {
      border: none;
    }
    &:focus {
      border-color: none;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  ::placeholder {
    color: #bfbfbf;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: #bfbfbf;
  }

  ::-ms-input-placeholder {
    color: #bfbfbf;
  }
  :disabled {
    background-color: unset;
    opacity: 0.6;
    cursor: not-allowed;
  }

  .validate-text {
    color: #e67575;
    font-family: $pal-font-family;
    font-size: 11px;
    padding: 3px 0px 0px 2px;
  }
}
