@import "../../assets/main.scss";

.pal-radio-group-container {
  display: inline-flex;
  flex-direction: column;
  .validate-text {
    display: flex;
    align-items: center;
    color: #e85a4b;
    font-family: $pal-font-family;
    font-size: 12px;
    padding: 5px 0px 0px 2px;
  }
}
