@import "../../assets/main.scss";
.pal-button {
  .pal-button-container {
    padding: 8px 12px;
    -webkit-font-smoothing: antialiased;
    appearance: none;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    font-family: $pal-font-family;
    &:hover {
      filter: brightness(0.92);
    }
  }

  .primary {
    background-color: $pal-primary;
    color: $pal-secondary;
    box-shadow: RGB(2 8 20 / 10%) 0px 2px 4px 0px,
      RGB(2 8 20 / 8%) 0px 1px 2px 0px;
  }
  .secondary {
    background-color: $pal-secondary;
    color: $pal-primary;
    box-shadow: RGB(2 8 20 / 10%) 0px 2px 4px 0px,
      RGB(2 8 20 / 8%) 0px 1px 2px 0px;
  }
  .tertiary {
    background-color: transparent;
    color: $pal-primary;
    &:hover {
      background-color: #f0eeee;
      filter: brightness(1);
    }
  }

  .link {
    text-decoration: underline;
    color: #498bd5;
    background-color: transparent;
    &:hover {
      color: #1066d0;
    }
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.4;
    &:hover {
      box-shadow: none;
    }
  }
}
