@import "../../assets/main.scss";
.pal-select {
  display: inline-flex;
  flex-direction: column;
  .pal-select-input-field {
    border: none;
    width: 97%;
    color: #425a70;
    height: 93%;
    &:hover {
      border: none;
    }
    &:focus {
      border-color: none;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .pal-select-container {
    border: solid 1px #d8dae5;
    border-radius: $pal-border-radius;
    padding: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;

    &:focus-within {
      border-color: $pal-primary;
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
    &:hover {
      border-color: $pal-primary;
    }
  }

  .pal-select-container:hover > .pal-select-clear {
    visibility: visible;
  }

  :disabled {
    background-color: unset;
    cursor: not-allowed;
    opacity: 0.6;
  }
  .disabled {
    background-color: #fafafa;
    cursor: not-allowed;
    opacity: 0.6;
    &:hover {
      border-color: #d9d9d9;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .isInvalid {
    border-color: #e67575;
    &:hover {
      border-color: #e67575;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .validate-text {
    color: #e67575;
    font-family: $pal-font-family;
    font-size: 13px;
    padding: 3px 0px 0px 2px;
  }
  .pal-select-down-arrow {
    color: #425a70;
    font-size: 10px;
    transition: all 0.15s ease 0s;
    padding-right: 3px;
  }

  .pal-select-clear {
    visibility: hidden;
    cursor: pointer;
    color: #425a70;
  }

  .pal-arrow-expanded {
    transform: rotate(180deg);
    padding-right: 3px;
  }
  .pal-select-popover-content {
    z-index: 9999;
  }
  .pal-select-popover-body {
    border-radius: $pal-border-radius;
    font-family: $pal-font-family;
    background-color: #ffffff;
    padding: 5px;
    animation: pal-popver 0.1s 1;
    box-shadow: RGB(18 52 77 / 16%) 0px 2px 18px 0px,
      RGB(18 52 77 / 6%) 0px 2px 4px 0px;
    font-size: 14px;

    max-height: 200px;
    overflow: scroll;
  }
  .pal-select-dropdown-item {
    color: #425a70;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    border-radius: $pal-border-radius;
    font-size: 11px;
    display: flex;
    margin: 5px 0px;
    justify-content: space-between;
    &:hover {
      background-color: #f5f4f4;
    }
  }
  .pal-select-dropdown-no-item {
    color: #425a70;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    border-radius: $pal-border-radius;
    font-size: 12px;
    display: flex;
    margin: 5px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .pal-selected-item {
    background-color: $pal-blue-2 !important;
    color: $pal-primary;
  }

  @keyframes pal-popver {
    0% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }
}
