@import "../../assets/main.scss";
.pal-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 9999;
  background-color: RGB(0, 0, 0);
  background-color: RGBA(18, 52, 77, 0.5);
  justify-content: center;
  align-items: start;
  font-family: $pal-font-family;
  transition: all 0.3s linear 0s;
}

.pal-modal-container {
  background-color: #ffffff;
  border-radius: 7px;
  animation: modal-entry 0.2s 1;
  text-align: left;
  margin-top: 60px;
}

.pal-modal-header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
}

.pal-close-btn {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  &:hover {
    opacity: 0.4;
  }
}

.pal-modal-body {
  padding: 10px 30px 0px;
  font-size: 14px;
}

.pal-modal-footer {
  border-radius: 7px;
  padding: 15px 30px;
  height: 10%;
  display: flex;
  justify-content: flex-end;
}
.pal-modal-exit {
  animation: modal-exit 0.2s 1;
}

@keyframes modal-entry {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes modal-exit {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}
